@keyframes slidFromTop {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes forward {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fade-down {
  0% {
    translate: 0 -100%;
    opacity: 0;
  }
  100% {
    translate: 0 0%;
    opacity: 1;
  }
}
@keyframes fade-up {
  0% {
    translate: 0 100%;
    opacity: 0;
  }
  100% {
    translate: 0 0%;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 400ms ease-in;
}

.fade-out {
  animation: fade-out 400ms ease-in;
}

.grid-container {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  width: max-content;
  text-align: center;
  font-weight: 600;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

.list-btn {
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 5px;
  color: black;
}

.list-btn:hover {
  border-radius: 20px;
  background-color: #50C4B0;
  color: white;
}

.toggle-btn {
  width: 80px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid gray;
  background-color: #506BC4;
  text-align: start;
  padding: 5px 10px;
  color: white;
  position: relative;
  align-self: center;
}

.public-btn {
  margin-left: 30px;
}

.form-button {
  width: 280px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: #506BC4;
  color: white;
  overflow: hidden;
}

.form-button:hover {
  border: 1px solid hsla(0, 0%, 50%, 0.2);
  box-shadow: 0 5px 5px -4px;
  transition: all 200ms;
  background-color: #50C4B0;
}

.setting-button {
  width: 130px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: #506BC4;
  color: white;
  margin: 1em auto;
}

.setting-button:hover {
  border: 1px solid hsla(0, 0%, 50%, 0.2);
  box-shadow: 0 5px 5px -4px;
  transition: all 200ms;
  background-color: #50C4B0;
}

.cancel-button {
  margin-left: 10px;
  background-color: gray;
}

@media (min-width: 768px) {
  .form-button {
    width: 650px;
  }
  .setting-button {
    width: 320px;
  }
  .cancel-button {
    margin-left: 25px;
  }
}
@media (min-width: 1024px) {
  .form-button {
    width: 400px;
  }
  .setting-button {
    width: 200px;
    margin-top: 60px;
  }
  .cancel-button {
    margin-left: 25px;
  }
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
form input {
  width: 280px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 50%, 0.2);
  box-shadow: 0 5px 5px -4px;
  transition: all 200ms;
  background-color: rgba(177, 193, 218, 0.302);
}
form textarea {
  width: 280px;
  height: 150px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid hsla(0, 0%, 50%, 0.2);
  box-shadow: 0 5px 5px -4px;
  transition: all 200ms;
  background-color: rgba(177, 193, 218, 0.302);
}
form textarea:hover,
form input:hover {
  border: 1px solid rgba(0, 0, 255, 0.556);
  box-shadow: 0 5px 5px -4px;
  transition: all 200ms;
}
form .form-group {
  display: flex;
  flex-direction: column;
}
form .form-group .form-error {
  display: inline-block;
  color: red;
  margin-top: 3px;
  margin-left: 3px;
  font-size: 13px;
  width: 100%;
  height: max-content;
  display: none;
}

.fade-down {
  animation: fade-down 150ms ease-out;
}

.fade-up {
  animation: fade-up 150ms ease-out;
}

.show-error {
  display: inline-block !important;
}

.hide-error {
  display: none !important;
}

@media (min-width: 768px) {
  form {
    padding: 10px;
  }
  form input {
    width: 650px;
  }
  form textarea {
    width: 650px;
  }
}
@media (min-width: 1024px) {
  form input {
    width: 400px;
  }
  form textarea {
    width: 400px;
  }
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.member-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
}

.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "dash-board-section" "traffic-board" "bar-widget" "doughnut-widget" "social-container" "new-members" "recent-activity" "message-user" "settings";
}

.dash-board-section {
  grid-area: dash-board-section;
  width: max-content;
}
.dash-board-section .dash-board {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.dash-board-section .dash-board-heading {
  width: max-content;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
}
.dash-board-section .dash-board-tab {
  width: 212px;
  height: 50px;
  margin-bottom: 10px;
  background-color: rgba(136, 167, 217, 0.3019607843);
  border-left: 1px solid rgba(122, 128, 136, 0.3764705882);
  border-bottom: 1px solid rgba(122, 128, 136, 0.3764705882);
  border-radius: 2px;
  padding: 10px;
}
.dash-board-section .dash-board-tab #search {
  display: block;
  width: 200px;
  padding: 5px;
  border-radius: 2px;
  border: none;
}
.dash-board-section .dash-board-tab #search:hover {
  border: 0px solid rgba(0, 0, 255, 0.556);
  box-shadow: 0 5px 5px -4px;
  transition: all 200ms;
}
.dash-board-section .alert {
  width: 300px;
  height: 35px;
  border-radius: 1px;
  margin: 0 auto;
  margin-left: 10px;
  padding: 5px;
  background-color: #506BC4;
  color: white;
  position: relative;
  border: 1px solid hsla(0, 0%, 50%, 0.2);
  box-shadow: 0 5px 5px -4px;
  transition: all 200ms;
}
.dash-board-section .alert #message2 {
  display: none;
}
.dash-board-section .alert .x-icon {
  font-size: 12px;
  position: absolute;
  top: 10%;
  right: 3%;
}
.dash-board-section .alert .x-icon:hover {
  color: white;
  background-color: red;
  padding: 3px;
  border-radius: 3px;
  transition: all 200ms;
}

.traffic-board {
  grid-area: traffic-board;
  width: max-content;
  margin: 0 auto;
}
.traffic-board .traffic-heading {
  width: max-content;
  padding: 10px;
}
.traffic-board .traffic-heading .traffic-list {
  max-width: 400px;
}
.traffic-board .traffic-heading .traffic-list ul {
  display: flex;
}
.traffic-board .traffic-heading .traffic-list ul li {
  list-style: none;
}
.traffic-board .full-widget-container {
  width: 100%;
  height: 100%;
}
.traffic-board .full-widget-container #line-chart {
  max-width: 100%;
  max-height: 100%;
}

.bar-graph {
  padding: 20px;
}
.bar-graph .bar-widget {
  width: 100%;
  height: 100%;
}
.bar-graph .bar-widget #daily-chart {
  max-width: 100%;
  max-height: 100%;
}

.doughnut-graph {
  margin: 0 auto;
  padding: 10px;
}
.doughnut-graph .mobile-widget {
  position: relative;
  width: 250px;
  margin: 0 auto;
}

.social-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.social-container .social-divs-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}
.social-container .social-divs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 1px;
  background-color: rgba(173, 189, 240, 0.3411764706);
  box-shadow: 5px 5px 10px;
}
.social-container .social-divs .social-svg {
  width: 50px;
  height: 50px;
  background-color: #506BC4;
  border-radius: 100%;
  padding: 12px;
}
.social-container .social-name {
  color: #1341d6;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
}
.social-container .social-data {
  font-weight: 500;
  font-size: 40px;
}

.new-members {
  margin: 1em auto;
  text-align: center;
  line-height: 1.2;
}
.new-members .members-profile {
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 200ms;
}
.new-members h3 {
  margin-left: 30px;
}

.recent-activity {
  margin: 1em auto;
  text-align: center;
  line-height: 1.2;
  padding: 15px;
}
.recent-activity .members-profile {
  margin-top: 15px;
  margin-bottom: 15px;
}
.recent-activity .members-profile .fa-greater-than {
  display: none;
}

.message-user {
  padding: 0 15px;
  padding-bottom: 10px;
}

.settings {
  padding: 15px;
  width: 100%;
}
.settings .notifications {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: max-content;
}
.settings .settings-notifications {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
}
.settings .white-circle {
  background-color: white;
  border: 1px solid gray;
  width: 15px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 10px;
  z-index: 5;
  transition: all 200ms;
}
.settings .white-circle:hover {
  cursor: pointer;
  border: 1px solid hsla(0, 0%, 50%, 0.2);
  box-shadow: 0 5px 5px -4px;
  transition: all 200ms;
  background-color: #50C4B0;
}
.settings .white-circle.change {
  translate: -40px;
}
.settings .toggle-text {
  position: absolute;
  top: 5px;
}
.settings .toggle-text--on {
  left: 3px;
}
.settings .toggle-text--on.change {
  opacity: 0;
}
.settings .toggle-text--off {
  right: 3px;
  transition: all 200ms;
}
.settings .toggle-text--off.change {
  opacity: 1;
}
.settings .time-select {
  width: 280px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.375);
  background-color: rgba(185, 189, 203, 0.4588235294);
  margin-top: 20px;
}

.modal {
  display: none;
  text-align: center;
  z-index: 10;
  padding: 10px;
  position: fixed;
  background-color: #D7D8D0;
  animation: slidFromTop 2s linear;
}

.close-tab {
  font-size: 12px;
  position: absolute;
  top: 30%;
  right: 5%;
}

.close-tab:hover {
  color: white;
  background-color: red;
  padding: 3px;
  border-radius: 3px;
  transition: all 200ms;
}

.green-dot {
  background-color: #50C4B0;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 40%;
  left: 5%;
  border-radius: 100%;
}

.color--green {
  background-color: #50C4B0 !important;
}

.first-notification {
  width: 280px;
  top: 112px;
  right: 30px;
}

.second-notification {
  width: 280px;
  top: 160px;
  right: 30px;
}
.second-notification .green-dot {
  background-color: #50C4B0;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 40%;
  left: 5%;
  border-radius: 100%;
}
.second-notification .close-tab {
  font-size: 12px;
  position: absolute;
  top: 30%;
  right: 5%;
}

.third-notification {
  width: 300px;
  top: 210px;
  right: 20px;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

@media (min-width: 768px) {
  .main-content {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .dash-board-section .dash-board-tab {
    width: 610px;
  }
  .dash-board-section .dash-board-tab #search {
    margin-left: auto;
    width: 500px;
  }
  .dash-board-section .alert {
    width: 690px;
    border-radius: 7px;
  }
  .traffic-board {
    padding: 10px;
  }
  .traffic-board .traffic-heading .traffic-list ul {
    margin-left: 110%;
  }
  .traffic-board .full-widget-container {
    width: 650px;
    padding-bottom: 15px;
  }
  .media-query-flex {
    display: flex;
  }
  .social-container .social-divs-container {
    flex-direction: row;
  }
  .new-members {
    margin: 0;
    padding: 10px;
  }
  .new-members .members-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    gap: 20px;
    padding: 10px;
  }
  .new-members .members-profile .date {
    margin-left: 30%;
  }
  .new-members .members-profile .date-2 {
    margin-left: 40%;
  }
  .new-members .members-profile .date-3 {
    margin-left: 38%;
  }
  .new-members .members-profile .date-4 {
    margin-left: 40%;
  }
  .recent-activity {
    margin: 0;
    padding: 10px;
  }
  .recent-activity .members-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    gap: 20px;
    padding: 10px;
    position: relative;
  }
  .recent-activity .members-profile .fa-greater-than {
    display: block;
    position: absolute;
    top: 50%;
    left: 95%;
  }
  .settings .select-drop {
    position: relative;
  }
  .settings .select-drop .time-select {
    width: 670px;
  }
}
@media (min-width: 1024px) {
  .dash-board-section .dash-board-tab {
    width: 860px;
  }
  .dash-board-section .dash-board-tab #search {
    width: 600px;
  }
  .dash-board-section .alert {
    width: 950px;
  }
  .traffic-board {
    padding: 10px;
  }
  .traffic-board .traffic-heading .traffic-list ul {
    margin-left: 160%;
  }
  .traffic-board .full-widget-container {
    width: 900px;
  }
  .media-query-flex .bar-widget {
    width: 450px;
  }
  .member-activity-container {
    display: flex;
    padding: 5px;
  }
  .member-activity-container .new-members {
    padding: 0;
  }
  .member-activity-container .new-members .members-profile .date {
    margin-left: 0.5%;
  }
  .member-activity-container .new-members .members-profile .date-2 {
    margin-left: 15%;
  }
  .member-activity-container .new-members .members-profile .date-3 {
    margin-left: 10%;
  }
  .member-activity-container .new-members .members-profile .date-4 {
    margin-left: 12%;
  }
  .member-activity-container .recent-activity {
    padding: 0;
  }
  .member-activity-container .recent-activity .members-profile .fa-greater-than {
    left: 90%;
  }
  .message-settings-container {
    display: flex;
    gap: 15px;
  }
  .message-settings-container .settings .select-drop .time-select {
    width: 400px;
  }
  .message-settings-container .message-user {
    padding-left: 30px;
  }
}
.grid-container {
  margin: 0 auto;
  max-width: 1024px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header" "nav" "main-content";
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 50px calc(100% - 50px);
    grid-template-rows: 50px calc(100% - 50px);
  }
}
.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #506BC4;
  color: white;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  gap: 15px;
  padding: 2px 10px;
  margin: 0 auto;
}

.web {
  font-weight: 700;
}

.title {
  font-size: 20px;
}

.svg-bell {
  width: 7%;
  fill: white;
  margin: 1em auto;
}

.svg-bell:hover {
  animation: forward 2s ease 0s 1 normal forwards;
}

.tm {
  position: absolute;
  top: 35%;
  left: 28%;
  font-size: 10px;
}

.notification {
  background-color: #50C4B0;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 30%;
  left: 40%;
  border-radius: 100%;
}

.vertical-line {
  border-left: 1px solid #7A8088;
  height: 40px;
  position: absolute;
  top: 20%;
  left: 45%;
}

@media (min-width: 768px) {
  .header {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .svg-bell {
    width: 3%;
    margin-left: 57%;
  }
  .vertical-line {
    left: 74%;
    top: 10%;
  }
  .notification {
    top: 15%;
    left: 72%;
  }
  .tm {
    left: 12%;
  }
  .profile-name {
    margin-right: 16px;
  }
}
@media (min-width: 1024px) {
  .svg-bell {
    margin-left: 66%;
  }
  .vertical-line {
    left: 80%;
  }
  .notification {
    left: 78%;
  }
  .tm {
    left: 9%;
  }
}
.nav {
  grid-area: nav;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px;
  background-color: #212950;
  margin-right: 5%;
}

.nav-icon,
.social-svg {
  width: 40px;
  height: 40px;
  fill: white;
  padding: 5px;
}

@media (min-width: 768px) {
  .nav {
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    grid-column: 1/2;
    grid-row: 2/3;
    gap: 2px;
  }
  .nav-icon {
    margin-top: 15px;
    padding: 7px;
  }
}
