@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

form{
    @include flex-align;
    flex-direction: column;
    gap: 15px;

    
    input{
       width: 280px;
       padding: 5px;
       border-radius: 5px;
      @include box-shadow;
      background-color: rgba(177, 193, 218, 0.302);
    }

    textarea{
       width: 280px;
       height: 150px;
       padding: 5px;
       border-radius: 2px;
       @include box-shadow;
       background-color: rgba(177, 193, 218, 0.302);
    }

    textarea:hover,
    input:hover{
      border: 1px solid rgba(0, 0, 255, 0.556);
      box-shadow: 0 5px 5px -4px;
      transition: all 200ms;
    }

    .form-group {
      display: flex;
      flex-direction: column;

      .form-error {
         display: inline-block;
         color: red;
         margin-top: 3px;
         margin-left: 3px;
         font-size: 13px;
         width: 100%;
         height: max-content;
         display: none;
       }
    }
}

.fade-down {
   animation: fade-down 150ms ease-out;
}

.fade-up {
   animation: fade-up 150ms ease-out;
}

.show-error {
   display: inline-block !important;
}

.hide-error {
   display: none !important;
}


@media (min-width: 768px){
   form{

      padding: 10px;
      input{
         width: 650px;
      }
  
      textarea{
         width: 650px;
      }
  
     
  
  }

}

@media (min-width: 1024px){
   form{
      input{
         width: 400px;
      }
  
      textarea{
         width: 400px;
      }
  
     
  
  }

}