@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;


@keyframes slidFromTop {
    0% {
        transform: translateY(-300px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes forward {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fade-down {
    0% {
        translate: 0 -100%;
        opacity: 0;
    }
    100% {
        translate: 0 0%;
        opacity: 1;
    }
}

@keyframes fade-up {
    0% {
        translate: 0 100%;
        opacity: 0;
    }
    100% {
        translate: 0 0%;
        opacity: 1;
    }
}