@use "../utilities/mixins"as *;
@use "../utilities/variables"as *;


h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    width: max-content;
    text-align: center;
    font-weight: 600;
}


a{
    text-decoration: none;
}

@media (min-width: 768px){
    
}