@use "../utilities/mixins"as *;
@use "../utilities/variables"as *;


.main-content {
    grid-area: main-content;
    @include grid-layout;
    grid-template-areas:
        "dash-board-section"
        "traffic-board"
        "bar-widget"
        "doughnut-widget"
        "social-container"
        "new-members"
        "recent-activity"
        "message-user"
        "settings"
}

.dash-board-section {
    grid-area: dash-board-section;
    width: max-content;

    .dash-board {
        @include flex-align;
        justify-content: center;
        width: 100%;

        &-heading {
            width: max-content;
            text-align: center;
            padding: 10px;
            font-weight: 600;
            font-size: 18px;
        }

        &-tab {
            width: 212px;
            height: 50px;
            margin-bottom: 10px;
            background-color: #88a7d94d;
            border-left: 1px solid #7a808860;
            border-bottom: 1px solid #7a808860;
            border-radius: 2px;
            padding: 10px;

            #search {
                display: block;
                width: 200px;
                padding: 5px;
                border-radius: 2px;
                border: none;
            }


            #search:hover {
                border: 0px solid rgba(0, 0, 255, 0.556);
                box-shadow: 0 5px 5px -4px;
                transition: all 200ms;
            }
        }

    }

    .alert {

        width: 300px;
        height: 35px;
        border-radius: 1px;
        margin: 0 auto;
        margin-left: 10px;
        padding: 5px;
        background-color: $primaryColor;
        color: $secondaryColor;
        position: relative;
        @include box-shadow;



        #message2 {
            display: none;
        }

        .x-icon {
            font-size: 12px;
            position: absolute;
            top: 10%;
            right: 3%;

        }

        .x-icon:hover {
            @include tab-close;
        }


    }
}


.traffic-board {
    grid-area: traffic-board;
    width: max-content;
    margin: 0 auto;

    .traffic-heading {
        width: max-content;
        padding: 10px;


        .traffic-list {
            max-width: 400px;
        }

        .traffic-list ul {
            display: flex;
        }

        .traffic-list ul li {
            list-style: none;
        }

    }

    .full-widget-container {
        @include percent-width;

        #line-chart {
            @include max-width;
        }
    }

}


.bar-graph {
    padding: 20px;


    .bar-widget {
        @include percent-width;

        #daily-chart {
            @include max-width;
        }
    }
}


.doughnut-graph {
    margin: 0 auto;
    padding: 10px;

    .mobile-widget {
        position: relative;
        width: 250px;
        margin: 0 auto;
    }
}

.social-container {
    display: flex;
    flex-direction: column;
    padding: 15px;

    .social-divs-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .social-divs {
        @include flex-align;
        justify-content: space-evenly;
        border: none;
        width: 250px;
        margin: 0 auto;
        padding: 10px;
        border-radius: 1px;
        background-color: #adbdf057;
        box-shadow: 5px 5px 10px;

        .social-svg {
            width: 50px;
            height: 50px;
            background-color: $primaryColor;
            border-radius: 100%;
            padding: 12px;

        }



    }

    .social-name {
        color: #1341d6;
        font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
    }

    .social-data {
        font-weight: 500;
        font-size: 40px;
    }
}


.new-members {
    margin: 1em auto;
    text-align: center;
    line-height: 1.2;

    .members-profile {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    h3 {
        margin-left: 30px;
    }

}


.recent-activity {
    margin: 1em auto;
    text-align: center;
    line-height: 1.2;
    padding: 15px;

    .members-profile {
        margin-top: 15px;
        margin-bottom: 15px;

        .fa-greater-than {
            display: none;
        }

    }

}


.message-user {
    padding: 0 15px;
    padding-bottom: 10px;


}


.settings {
    padding: 15px;
    width: 100%;

    .notifications {
        @include flex-align;
        flex-direction: column;
        gap: 5px;
        width: max-content;

    }

    .settings-notifications {
        @include flex-align;
        gap: 15px;
        padding: 5px;
    }

    .white-circle {
        background-color: $secondaryColor;
        border: 1px solid $neutralColor;
        width: 15px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 10%;
        right: 10%;
        padding: 10px;
        z-index: 5;
        transition: all 200ms;

        &:hover {
            cursor: pointer;
            @include box-shadow;
            background-color: #50C4B0;
        }

        &.change {
            translate: -40px;
        }
    }

    .toggle-text {
        position: absolute;
        top: 5px;

        &--on {
            left: 3px;

            &.change {
                opacity: 0;
            }
        }

        &--off {
            right: 3px;
            transition: all 200ms;

            &.change {
                opacity: 1;
            }
        }
    }

    .time-select {
        width: 280px;
        height: 40px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.375);
        background-color: #b9bdcb75;
        margin-top: 20px;

    }

}

.modal {
    display: none;
    text-align: center;
    z-index: 10;
    padding: 10px;
    position: fixed;
    background-color: #D7D8D0;
    animation: slidFromTop 2s linear;

}

.close-tab {
    font-size: 12px;
    position: absolute;
    top: 30%;
    right: 5%;
}

.close-tab:hover {
    @include tab-close;
}

.green-dot {
    background-color: #50C4B0;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 40%;
    left: 5%;
    border-radius: 100%;
}

.color--green {
    background-color: #50C4B0 !important;
}

.first-notification {
    width: 280px;
    top: 112px;
    right: 30px;

}

.second-notification {
    width: 280px;
    top: 160px;
    right: 30px;

    .green-dot {
        background-color: #50C4B0;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 40%;
        left: 5%;
        border-radius: 100%;
    }

    .close-tab {
        font-size: 12px;
        position: absolute;
        top: 30%;
        right: 5%;
    }
}

.third-notification {
    width: 300px;
    top: 210px;
    right: 20px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

@media (min-width: 768px) {
    .main-content {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .dash-board-section {
        .dash-board {
            &-tab {
                width: 610px;

                #search {
                    margin-left: auto;
                    width: 500px;
                    
                }
            }

        }

        .alert {

            width: 690px;
            border-radius: 7px;

        }
    }

    .traffic-board {
        padding: 10px;

        .traffic-heading {

            .traffic-list ul {
                margin-left: 110%;
            }

        }

        .full-widget-container {
            width: 650px;
            padding-bottom: 15px;
        }

    }


    .media-query-flex {
        display: flex;
    }

    .social-container {
        .social-divs-container {
            flex-direction: row;
        }


    }


    .new-members {
        margin: 0;
        padding: 10px;

        .members-profile {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: start;
            gap: 20px;
            padding: 10px;

            .date {
                margin-left: 30%;
            }

            .date-2 {
                margin-left: 40%;
            }

            .date-3 {
                margin-left: 38%;
            }

            .date-4 {
                margin-left: 40%;
            }
        }

    }


    .recent-activity {
        margin: 0;
        padding: 10px;

        .members-profile {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: start;
            gap: 20px;
            padding: 10px;
            position: relative;

            .fa-greater-than {
                display: block;
                position: absolute;
                top: 50%;
                left: 95%;
            }

        }

    }

    .settings {

        .select-drop {
            position: relative;

            .time-select {
                width: 670px;

            }
        }



    }
}

@media (min-width: 1024px) {
    .dash-board-section {
        .dash-board {
            &-tab {
                width: 860px;

                #search {
                    width: 600px;
                }
            }

        }

        .alert {
            width: 950px;

        }
    }

    .traffic-board {
        padding: 10px;

        .traffic-heading {

            .traffic-list ul {
                margin-left: 160%;
            }

        }

        .full-widget-container {
            width: 900px;
        }

    }


    .media-query-flex {
        .bar-widget {
            width: 450px;
        }


    }

    .member-activity-container {
        display: flex;
        padding: 5px;

        .new-members {
            padding: 0;

            .members-profile {
                .date {
                    margin-left: 0.5%;
                }

                .date-2 {
                    margin-left: 15%;
                }

                .date-3 {
                    margin-left: 10%;
                }

                .date-4 {
                    margin-left: 12%;
                }
            }

        }

        .recent-activity {
            padding: 0;

            .members-profile {
                .fa-greater-than {
                    left: 90%;
                }

            }
        }


    }


    .message-settings-container {
        display: flex;
        gap: 15px;

        .settings {
            .select-drop {
                .time-select {
                    width: 400px;
                }
            }
        }

        .message-user {
            padding-left: 30px;
        }
    }
}