@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;


.main-content{
    grid-area:main-content;
    @include grid-layout;
    grid-template-areas: 
    "dash-board-section"
    "traffic-board"
    "bar-widget"
    "doughnut-widget"
    "social-container"
    "new-members"
    "recent-activity"
    "message-user"
    "settings"
   
}

.dash-board-section{
    grid-area:dash-board-section;
    width: max-content;

    .dash-board{
        @include flex-align;
        justify-content: center;
        width: 100%;

        &-heading{
            width:max-content;
            text-align: center;
            padding: 10px;
            font-weight: 600;
            font-size: 18px;
        }

        &-tab{
            width: 215px;
            height: 50px;
            margin-bottom: 10px;
            background-color: #88a7d94d;
           border-left: 1px solid #7a808860;
           border-bottom: 1px solid #7a808860;
           border-radius: 2px;
            padding: 10px;
        }

    }

    .alert{

        width: 300px;
        height: 35px;
        border-radius: 1px;
        margin: 0 auto;
        margin-left: 10px;
        padding: 5px;
        background-color:$primaryColor;
        color:$secondaryColor;
        position: relative;
        @include box-shadow;
       


        #message2{
            display: none;
        }

        .x-icon{
           font-size: 12px;
            position: absolute;
            top: 10%;
            right: 3%;
            
        }

        .x-icon:hover{
            @include tab-close;
        }

        
    }
}


.traffic-board{
    grid-area:traffic-board;
    width: max-content;
    margin: 0 auto;

    .traffic-heading{
        width: max-content;
        padding: 10px;

    
        .traffic-list{
            max-width: 400px;
        }
        .traffic-list ul{
            display: flex;
        }

        .traffic-list ul li{
            list-style: none;
        }

    }

    .full-widget-container{
       @include percent-width;

        #line-chart{
            @include max-width;
        }
    }

}


.bar-graph{
 padding: 20px;


 .bar-widget{
    @include percent-width;
    
    #daily-chart{
      @include max-width;
    }
}
}


.doughnut-graph{
    margin: 0 auto;
    padding-top: 10px;

    .mobile-widget{
        position: relative;
        width: 250px;
    }
}

.social-container{
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 15px;

    .social-divs{
        @include flex-align;
        justify-content: space-evenly;
        border: none;
        width: 250px;
        margin: 0 auto;
        padding: 10px;
        border-radius:1px;
        background-color: #adbdf057;
        box-shadow: 5px 5px 10px;

        .social-svg{
            width: 50px;
            height: 50px;
        background-color:$primaryColor;
           border-radius:100% ;
           padding: 12px;

            }



    }

    .social-name{
        color: #1341d6;
        font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
    }

    .social-data{
        font-weight: 500;
        font-size: 40px;
    }
}


.new-members{
margin: 1em auto;
text-align: center;
line-height: 1.2;

.members-profile{
    margin-top: 15px;
    margin-bottom: 15px;
}

}


.recent-activity{
margin: 1em auto;
text-align: center;
line-height: 1.2;
padding: 15px;

.members-profile{
    margin-top: 15px;
    margin-bottom: 15px;
    
}

}


.message-user{
    padding: 15px;


}


.settings{
    padding: 15px;
    width: 100%;

    .notifications{
        @include flex-align;
        flex-direction: column;
        gap: 5px;
        width: max-content;
       
    }

    .settings-notifications{
        @include flex-align;
        gap: 15px;
        padding: 5px;
    }

    .white-circle{
        background-color:$secondaryColor;
        border: 1px solid $neutralColor;
        width: 15px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 10%;
        right: 10%;
        padding: 10px;
    }

    .white-circle:hover{
        cursor: pointer;
        @include box-shadow;
        background-color:#50C4B0 ;
    }

    .time-select{
        width: 280px;
        height: 40px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.375);
        background-color: #b9bdcb75;
        margin-top: 20px;

    }

}

.modal{
    display: none;
    text-align: center;
    z-index: 10;
padding: 10px;
position: fixed;
background-color:#D7D8D0;
};

.close-tab{
    font-size: 12px;
    position: absolute;
    top: 30%;
    right: 5%;
}

.close-tab:hover{
    @include tab-close;
}

.green-dot{
    background-color:#50C4B0;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 40%;
    left: 5%;
    border-radius: 100%;
}

.first-notification{
  width: 250px;
top: 112px;
right: 50px;

}
.second-notification{
  width: 250px;
top: 153px;
right: 50px;




.green-dot{
    background-color:#50C4B0;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 40%;
    left: 5%;
    border-radius: 100%;
}

.close-tab{
    font-size: 12px;
    position: absolute;
    top: 30%;
    right: 5%;
}
}

.third-notification{
  width: 280px;
top: 195px;
right: 30px;
}

.show{
    display: block;
}

.hide{
    display: none;
}



