@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;


.main-content{
    grid-area:main-content;
    display: grid;
    // grid-template-columns: 1fr;
    grid-template-columns: 100%;
    grid-template-areas: 
    "dash-board-section"
    "traffic-board"
    "bar-widget"
    "doughnut-widget"
    "social-container"
    "new-members"
    "recent-activity"
    "message-user"
    "settings"
   
}

.dash-board-section{
    grid-area:dash-board-section;
    width: max-content;

    .dash-board{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        &-heading{
            width:max-content;
            text-align: center;
            padding: 10px;
            font-weight: 600;
            font-size: 18px;
        }

        &-tab{
            width: 215px;
            height: 50px;
            margin-bottom: 10px;
            background-color: #88a7d94d;
           border-left: 1px solid #7a808860;
           border-bottom: 1px solid #7a808860;
           border-radius: 2px;
            padding: 10px;
        }

    }

    .alert{
        width: 280px;
        height: 35px;
        border-radius: 5px;
        margin: 0 auto;
        padding: 10px;
        background-color:#506BC4;
        color: white;
        position: relative;

        .x-icon{
           font-size: 12px;
            position: absolute;
            top: 30%;
            right: 5%;
            
        }

        #message2{
            display: none;
        }
    }
}

.traffic-board{
    grid-area:traffic-board;
    width: max-content;
    padding: 20px;

    .traffic-heading{
        width: max-content;
        padding: 10px;

    
        .traffic-list{
            max-width: 400px;
            // display: flex;
            // list-style: none;
            // gap: 25px;
        }
        .traffic-list ul{
            display: flex;
        }

        .traffic-list ul li{
            list-style: none;
        }

        .list-btn{
            border-radius: 20px;
            text-decoration: none;
            padding: 5px 10px;
            margin-right: 5px;
            background-color: #50C4B0;
        }

    }

    

    .full-widget-container{
        width: 100%;
        height: 100%;

        #line-chart{
            max-width: 100%;
            max-height: 100%;
        }
    }

}


.bar-graph{
 padding: 20px;


 .bar-widget{
    width: 100%;
    height: 100%;
    
    #daily-chart{
        max-width: 100%;
        max-height: 100%;
    }
}
}


.doughnut-graph{
    margin: 0 auto;
    padding-top: 10px;

    .mobile-widget{
        position: relative;
        width: 250px;
    }
}

.social-container{
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 15px;

    .social-divs{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid #6a696995;
        width: 250px;
        margin: 0 auto;
        padding: 10px;
        border-radius:5px;
        background-color: #adbdf057;

        .social-svg{
            width: 50px;
            height: 50px;
        background-color: #506BC4;
           border-radius:100% ;
           padding: 12px;

            }



    }

    .social-name{
        color: #1341d6;
        font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
    }

    .social-data{
        font-weight: 500;
        font-size: 40px;
    }
}


.new-members{
margin: 1em auto;
text-align: center;
line-height: 1.2;

.members-profile{
    margin-top: 15px;
    margin-bottom: 15px;
}

}


.recent-activity{
margin: 1em auto;
text-align: center;
line-height: 1.2;
padding: 15px;

.members-profile{
    margin-top: 15px;
    margin-bottom: 15px;
    
}

}


.message-user{
    padding: 15px;

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    
    input{
       width: 280px;
       padding: 5px;
       border-radius: 5px;
       border: 1px solid gray;
    }

    textarea{
       width: 280px;
       height: 150px;
       padding: 5px;
       border-radius: 5px;
       border: 1px solid gray;
    }

    .button{
        width: 280px;
        height: 40px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: #506BC4;
        color:white;
     }

}
}


.settings{
    padding: 15px;
    width: 100%;

    .notifications{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
       
    }

    .settings-notifications{
        display: flex;
        gap: 15px;
        align-items: center;
        padding: 5px;
    }

    .setting-btns{
        width: 100px;
        height: 30px;
        border-radius: 50px;
        border: 1px solid gray;
        background-color: #506BC4;
        text-align: start;
        padding: 5px 10px;
        color: #FFF;
        position: relative;
        align-self: center;
}

    .public-btn{
        margin-left: 25px;
    }


    .white-circle{
        background-color: white;
        border: 1px solid gray;
        width: 15px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 10%;
        right: 10%;
        padding: 10px;
    }


    .form-field{
        width: 280px;
        height: 40px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.375);
        background-color: #b9bdcb75;
        margin-top: 20px;

    }

        .control-button{
            width: 130px;
            height: 40px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid gray;
            background-color: #506BC4;
            color:white;
            margin: 1em auto;
        }

        .cancel-button{
            margin-left: 10px;
            background-color: gray;
        }
    

}



.modal{
    display: none;
    text-align: center;
    z-index: 10;
padding: 10px;
position: fixed;
background-color:#D7D8D0;
}


.first-notification{
  width: 250px;
top: 112px;
right: 50px;




.green-dot{
    background-color:#50C4B0;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 40%;
    left: 5%;
    border-radius: 100%;
}

.close-tab{
    font-size: 12px;
    position: absolute;
    top: 30%;
    right: 5%;
}


}


.second-notification{
  width: 250px;
top: 153px;
right: 50px;




.green-dot{
    background-color:#50C4B0;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 40%;
    left: 5%;
    border-radius: 100%;
}

.close-tab{
    font-size: 12px;
    position: absolute;
    top: 30%;
    right: 5%;
}
}


.third-notification{
  width: 280px;
top: 195px;
right: 40px;




.green-dot{
    background-color:#50C4B0;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 40%;
    left: 5%;
    border-radius: 100%;
}

.close-tab{
    font-size: 12px;
    position: absolute;
    top: 30%;
    right: 5%;
}
}



.show{
    display: block;
}
.hide{
    display: none;
}



