@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.grid-container{
    margin: 0 auto;
    max-width: 1024px;
    min-height: 100vh;
    @include grid-layout;
    grid-template-areas: 
    "header"
    "nav"
    "main-content";
}


@media (min-width: 768px){
    .grid-container{
        $grid-size: 50px;
        grid-template-columns: $grid-size calc(100% - $grid-size);
        grid-template-rows: $grid-size calc(100% - $grid-size);
    }
}







