@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "main-content"
}

.nav{
    grid-area: nav;
}
.main-content{
    grid-area:main-content;
}


.nav-icon,
.social-svg{
    margin: 1em auto;
    width: 20%;
    display: block;

}


