@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;


.nav{
    grid-area: nav;
    @include max-width;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
    background-color: #212950;
}

.nav-icon,
.social-svg{
    width: 40px;
    height: 40px;
    fill: white;
    padding: 5px;

}